.ghost {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    border: 1px solid blue;
    background-color: green;
    border-radius: 20px;
    z-index: 3;
}

.eyes {
    position: absolute;
    display: inline-block;
    height: 30%;
    width: 30%;
    border-radius: 10%;
    bottom: 45%;
    background-color: white;
}

.eyesLeft {
    left: 10%;
}

.eyesRight {
    right: 10%;
}

.eyes:after {
    position: absolute;
    bottom: 45%;
    content: " ";
    background-color: black;
    height: 50%;
    width: 50%;
    left: 20%;
    border-radius: 50%;
}
